<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Cookie|Courgette|Lobster|News+Cycle&display=swap" rel="stylesheet">
    <link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class='container'>
       
        <hr>
      
        <div class='row justify-content-center top-buffer'>
         
      
          <div class='col-xs-7 col-sm-7 col-md-7 col-lg-7 d-block top-buffer'>
            <div class='d-inline-flex'>
              <div class="userAvatar mr-2"> <img class='img-thumbnail' src="{{item.user.prof_pic.cdn_url}}" alt='userAvatar'>
              </div>
              <div class='text-center align-self-center'> <strong> {{ item.user.user.username}} </strong> </div>
            </div>
      
            <div class='justify-content-center'>
              <img class='img-responsive imagePost' src="{{item.image.cdn_url}}" alt='Image' data-toggle='modal'
                data-target="#{{item.id}}">
      
              <!-- likes and comments -->
              <p><button id="clickme"> <i class="fa fa-heart-o"></i></button>
                <button id="followme"><i class="fa fa-commenting-o"></i></p></button> 
                </p>
      
              <!-- The Modal -->
      
              <div class="modal fade" id="{{item.id}}">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
      
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title"> {{item.name}} </h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
      
                    <!-- Modal body -->
                    <div class="modal-body">
                      <div class='d-inline-flex'>
      
                        <div class="userAvatar mr-2"> <img class='img-thumbnail' src="{{item.user.prof_pic.cdn_url}}"
                            alt='userAvatar'></div>
      
                        <div class='text-center align-self-center'> <strong> {{ item.user.user.username}} </strong> </div>
                      </div>
      
                      <div class='d-flex justify-content-center'>
                        <img class='img-responsive imagePost' src="{{ item.image.cdn_url }}" alt='image'>
                      </div>
      
                      <p> {{item.name}} </p>
                      <p> {{ item.caption }} </p>
                      <p>{{item.like_set.all|length }} <i class="fa fa-heart-o"></i> {{ item.comment_set.all|length }} <i
                          class="fa fa-commenting-o"></i></p>
      
                    </div>
      
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
      
                  </div>
                </div>
              </div>
      
              <!-- end modal -->
      
              <!-- list of posted comments -->
      
              {{ item.comment_set.all|length }} Comment(s)
      
              <ul style="list-style-type: none">
                {% for comment in item.comment_set.all %}
                <li> {{comment.comments}} </li>
                {% endfor %}
              </ul>
      
              <!-- end of list of comments -->
              <div>
      
                <form action=" " method="post">
      
                  {% csrf_token %}
      
                 
      
                  <div class="form-group">
      
      
      
                    <input type="submit" class="btn btn-primary btn-sm my-2" value="Post Comment">
                  </div>
                </form>
              </div>
      
              <hr>
            </div>
      
          </div>
          
      
        </div>
      </div>
      
      <script src="instapage/static/js/home.js"></script>
</body>
</html>
<style>



</style>